.arrow {
  content: '';
  margin-top: 56px;
  position: relative;
  height: 40px;
  width: 40px;
  font-size: 1.6rem;
  color: white;
  border-radius: 50%;
  background-color: black;
  &:hover {
    background-color: #FFC000;
    color: white;
    cursor: pointer;
  }
}
