.cell {
  height: 284px !important;
  width: 200px !important;
  text-align: center;
  background: linear-gradient(180deg, #f8f8f8 0%, #ebebeb 100%);
  &:hover {
    background-color: $raven;
    cursor: pointer;
  }
}
