html {
  font-size: 62.5%; /* 16px is default, 16px * 62.5 = 10px => 1rem */
  box-sizing: border-box; /* makes it easier to manage boxes */
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
