.grid-container {
  height: 880px;
  width: 100%;
  // opacity: 0.16;
  @media (min-width: 1080px) {
    height: 880px;
  }

  @media (min-width: 1366px) {
    height: 1024px;
  }

  @media (min-width: 1920px) {
    height: 1080px;
  }
}
